AES_GCM_ENABLED=true
AES_GCM_ENCRYPT_RESPONSE=true
AES_GCM_KEY=hex:b8286d10dc8ae670189223a299b0affb
AES_GCM_RESPONSE_KEY=hex:45e036e26c95279ee61c8f452ee35543
# PIP_REGION=mainland
# PIP_MAINLAND_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
# PIP_MAINLAND_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
# PIP_OVERSEAS_INDEX_URL=https://pypi.org/simple
# PIP_OVERSEAS_TRUSTED_HOST=pypi.org files.pythonhosted.org
# PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
# PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
# PIP_TIMEOUT=120
# PIP_RETRIES=20
# PIP_RESUME_RETRIES=20
# AES_GCM_REQUEST_AAD=text:example-request-aad
# AES_GCM_RESPONSE_AAD=text:example-response-aad
# AES_GCM_KEY_STORE_PATH=/opt/UY-NB-Meter/data/keys.json
# AES_GCM_ACTIVE_KEY_NAME=default
